<html>
<form action= "/login" class="form-signin" method="POST">
    <h2 class="form-signin-heading">Please Sign Up</h2>
    <h3> Your Information </h3>
    <input name= "First_Name" type="text" placeholder="First Name"/>
    <input name= "Last_Name" type="text" placeholder="Last Name"/>
    <input name= "Phone" type="text" placeholder="Telephone"/>
    <input name= "Adress" type="text" placeholder="Address"/>
    <input name= "email" type="email" class="form-control" placeholder="Email Address" required autofocus />
    <input name= "password" type="password" class="form-control" placeholder="Password" required />
    <h3> Your Dog's Information </h3>
    <input name="dog_name" type="text" placeholder="Dog Name"/>
    <input name="dog_breed" type="text" placeholder="Dog Breed"/>
    <input name="gender" type="text" placeholder="Gender"/>
    <input name="age" type="text" placeholder="Age"/>
    <input name="wieght" type="text" placeholder="Weight"/> 
    <h4>Vet's Information</h4>
    <input name="vet_name_first" type="text" placeholder="First Name"/>
    <input name="vet_name_last" type="text" placeholder="Last Name"/>
    <input name="address" type="text" placeholder="Address"/>
    <input name="telephone" type="text" placeholder="Telephone"/>
    <h3>Emergency Contact Information</h3>
    <input name="contact_first" type="text" placeholder="First Name"/>
    <input name="contact_last" type="text" placeholder="Last Name"/>
    <input name="phone" type="text" placeholder="Telephone"/>

    <h1><button type="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button></h1>
</form>
</html>